*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

.d-none {
    display: none;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.3;
    color: black;
}

h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
    display: inline-block;
}

button,
input,
textarea,
input::placeholder,
textarea::placeholder {
    outline: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    padding: 0;
}

/* --- typografy --- */

.h1,
.h2 {
    font-family: 'Lora', serif;
    font-size: 80px;
    line-height: 1.275;
    color: #574E56;
}

.h2 {
    font-size: 40px;
}

.h2--white {
    color: #fff;
}

.text-upper {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.06em;
    color: #574E56;
}

/* --- svg icons --- */
.svg-arrow {
    width: 12px;
    height: 14px;
    fill: white;
}

.svg-phone,
.svg-pin,
.svg-inst,
.svg-email {
    width: 24px;
    height: 24px;
    fill: black;
}

.svg-map {
    width: 23px;
    height: 33px;
    fill: black;
}

.svg-be {
    width: 24px;
    height: 15px;
    fill: black;
}

/* --- header --- */

.header {
    position: relative;
    height: 800px;
    background-color: #F9F8F6;
}

.header-top {
    height: 70px;
    padding-top: 30px;
    background-color: #fff;
}

.header-content {
    padding-top: 193px;
}

.header-nav a+a {
    margin-left: 40px;
}

.header-nav a:hover {
    color: #F6D5A7;
    color: #f1971b;
}

.header-nav a {
    position: relative;
    transition: .5s;
}

.header-nav a::before {
    content: '';
    width: 0;
    height: 1px;
    background-color: #F6D5A7;
    background-color: #f1971b;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .5s;
}

.header-nav a:hover::before {
    width: 100%;
}

.header-title {
    max-width: 463px;
    margin-bottom: 127px;
}

.header-title .h1 {
    margin-bottom: 15px;
}

.start-video {
    width: fit-content;
    /* ширина блока равна ширине контента */
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
}

.start-video img {
    transition: .5s;
}

.start-video__text {
    display: flex;
    align-items: center;
    column-gap: 23px;
    position: relative;
    left: -39px;
}

.start-video__text p {
    max-width: 170px;
    transition: .5s;
}

.start-video__btn {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: #F6D5A7;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.start-video__btn svg {
    transform: rotate(180deg);
}

.start-video:hover img {
    filter: grayscale(1);
    /* ч.б. картинка */
}

.start-video:hover .start-video__btn {
    background-color: #f1971b;
}

.start-video:hover p {
    color: #f1971b;
}

.header-slider-wrapper {
    width: 50%;
    max-width: 690px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #f6d5a7;
}

.header-slider-wrapper img {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

.owl-dot span {
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #c4c4c4;
}

.owl-dot+.owl-dot {
    margin-left: 9px;
}

.owl-dots button.owl-dot.active span {
    background-color: #fff;
    /* пробел НЕ ставится, когда у элемента должны присутствовать оба класса, т.е. у 1 div 2 класса */
}

.header-slider-wrapper .owl-dots {
    /* пробел ставится между родительским div и дочерними элементами */
    position: absolute;
    left: 48px;
    bottom: 49px;
    z-index: 2;
}

.header-slider__nav {
    position: absolute;
    bottom: 35px;
    right: 80px;
    z-index: 2;
}

.slider-next,
.slider-prev {
    width: 64px;
    height: 62px;
    border: 1px solid #fff;
    transition: .5;
}

.slider-next:hover,
.slider-prev:hover {
    border: 1px solid #f1971b;
}

.slider-prev {
    margin-right: 15px;
}

.slider-next svg {
    transform: rotate(180deg);
}

.slider-next svg,
.slider-prev svg {
    transition: .5s;
}

.slider-next:hover svg,
.slider-prev:hover svg {
    fill: #f1971b;
}

.portfolio {
    padding-top: 118px;
    padding-bottom: 100px;
}

.portfolio__title {
    margin-bottom: 50px;
}

.portfolio-content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

.portfolio-card {
    width: 400px;
    height: 440px;
    overflow: hidden;
}

.portfolio-card img {
    transition: .5s;
}

.portfolio-card:hover img {
    transform: scale(1.05);
    filter: grayscale(1);
}

.about {
    padding-top: 100px;
    padding-bottom: 197px;
    background-color: #574E56;
    color: #fff;
}

.about__img {
    width: 500px;
    height: 535px;
    overflow: hidden;
    flex-shrink: 0;
    /*  запрещаем сжиматься картинке */
}

.about__title {
    margin-bottom: 97px;
}

.about__content {
    display: flex;
    column-gap: 115px;
    align-items: center;
}

.about__desc {
    max-width: 456px;
}

.about__text {
    line-height: 1.7;
    margin-bottom: 43px;
}

.about__text p+p {
    margin-top: 24px;
}

.about__statistic {
    display: flex;
    column-gap: 38px;
}

.about__statistic-item {
    width: 182px;
}

.about__statistic-item p {
    font-family: 'Lora', serif;
    font-size: 100px;
    line-height: 1.28;
    color: #F6D5A7;
}

.animated-number .num {
    opacity: 0;
}

.contacts {
    padding-top: 88px;
    padding-bottom: 146px;
}

.contacts__title {
    margin-bottom: 90px;
}

.contacts__content {
    display: flex;
    column-gap: 115px;
    align-items: flex-start;
}

.contacts-form-wrapper {
    width: 505px;
    flex-shrink: 0;
}

.form-input,
.form-textarea {
    display: block;
    width: 100%;
    height: 65px;
    border: 1px solid #DDDDDD;
    padding-left: 20px;
    padding-right: 20px;
    color: #ACA9A9;
}

.form-input:focus,
.form-textarea:focus {
    border: 1px solid #f1971b;
}

.form-textarea {
    height: 246px;
    padding-top: 27px;
    padding-bottom: 27px;
    resize: none;
    /* убираем риски, которые меняют размер окна */
}

.form-item+.form-item {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding-left: 77px;
    padding-right: 77px;
    background-color: #F6D5A7;
    height: 65px;
    line-height: 65px;
    font-size: 13px;
    letter-spacing: 0.06em;
    color: #574E56;
    text-transform: uppercase;
    transition: .5s;
}

.btn:hover {
    background-color: #f1971b;
    color: #fff;
}

.btn:active {
    background-color: #b57215;
    color: #fff;
}

.contacts-list__item {
    display: flex;
    column-gap: 16px;
}

.contacts-list__item .text-upper {
    margin-bottom: 3px;
}

.contacts-list__item .text-upper+* {
    color: #907965;
}

.contacts-list__text a,
.contacts-list__icon svg {
    transition: .5s;
}

.contacts-list__item:hover .contacts-list__text a {
    color: #f1971b;
}

.contacts-list__item:hover .contacts-list__icon svg {
    fill: #f1971b;
}

.contacts-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 60px;
    column-gap: 95px;
}

.footer {
    padding-top: 35px;
    padding-bottom: 50px;
    text-align: center;
    color: #574E56;
}